@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* Fonts */
  --title: 'Monserrat', sans-serif;
  --main-font: 'Roboto', sans-serif;

  /* Colours*/
  --orange-ligth: #fcf7f5;
  --orange: #f52f0e;
  --light-red: #f60030;
  --red: #ac011c;
  --black: #000000;
  --cream-light: #f1e1d0;
  --grey: #4a4a4a;
  --white: #ffffff;
  --white-yellow: #f8f8f7;
  

  /* Utils */
  --small-box-shadow: 1px -1px 7px 0 #4a4a4a;
  --border: 1px solid #4a4a4a;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
  color: var(--red);
}

h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  color: var(--light-red);
}

p {
  color: var(--grey);
  font-size: 1.1rem;
}
main {
  flex: 1 0 auto;
  background-color: var(--orange-ligth);
}

/* Footer */
footer {
  flex-shrink: 0;
  background-color: var(--orange-ligth);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: var(--border);
}

.social-icon {
  height: 2rem;
  margin: 1rem;
}

/* Header */
.navbar {
  background-color: var(--orange-ligth) !important;
  box-shadow: var(--small-box-shadow);
  color: var(--red);
  --small-box-shadow: 1px -1px 7px 0 #4a4a4a;
  --border: 1px solid #4a4a4a;

  display: flex;
  justify-content: center;
}

.nav-item {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

a.nav-link {
  color: var(--black);
}

a.nav-link:hover {
  color: var(--red);
}


img.logo {
  width: 100%;
  max-width: 300px; /* Maximum width of the logo */
  height: auto;
}

.active {
  border-bottom: 2px solid var(--red);
  font-weight: 700;
}

.btn {
  background-color: var(--red);
  border-color: var(--white-yellow);
  color: var(--light-red);
  color: var(--white-yellow);
}
.btn:hover {
  background-color: var(--white-yellow);
  color: var(--red);
  font-weight: bold;
  border-color: var(--red);
}
/* Form */

.form {
  width: 100%;
  margin: 3% auto;
  box-shadow: var(--small-box-shadow);
  border-radius: 5px;
}

/* Recipes */

.card {
  height: 90%;
  margin-top: 1rem;
}

.pt-4 strong {
  font-style: italic;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recipes {
  text-decoration: none;
  color: var(--red);
}

.recipes:hover {
  cursor: pointer;
  color: var(--grey);
}

.recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.ingredients,
.instructions,
.recipe-detail {
  width: 100%;
}

.recipe-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.recipe-pic {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.recipe-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
}

a.img-container {
  position: relative;
  text-align: center;
  margin: 2%;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid var(--border);
  box-shadow: var(--smal-box-shadow);
}

a.img-container:hover {
  color: var(--grey);
}

.img-container img {
  width: 100%;
  height: auto;
  border: var(--grey);
}

.centered {
  width: 100%;
  background-color: var(--orange-ligth);
  top: 100%;
  border-radius: 1px;
  font-size: 0.001em;
  box-shadow: var(--smal-box-shadow);
  font-weight: bold;
}

/* Profiles */

.profile-img {
  width: 100%;
  margin: 0 auto;
  align-items: start;
}

.profile-img img {
  border-radius: 8px;
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  width: 100%;
  text-align: center;
  padding: 1rem;
  text-align: justify;
}

.profile-recipes {
  width: 100%;
}


@media screen and (min-width: 40em) {
  .form {
    width: 50%;
  }

  .recipe-cont {
    flex-direction: row;
    border-radius: 10px;
  }

  .img-container {
    flex-direction: row;
    width: 29%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(172, 1, 28, 0.6);
  }
}

@media screen and (min-width: 62.5em) {
  .main-title {
    width: 50%;
  }

  .recipe-info {
    flex-direction: row;
    border: 1px solid var(--red);
  }

  .recipe-img {
    width: 40%;
    margin: 0 auto;
  }

  .recipe-detail {
    width: 60%;
    padding: 2rem;
  }

  .recipe-container {
    flex-direction: row;
  }

  .ingredients {
    width: 33.33%;
  }

  .instructions {
    width: 66.66%;
  }

  .profile {
    flex-direction: row;
  }

  .info {
    width: 30%;
  }

  .profile-recipes {
    width: 70%;
    padding: 1.5rem 3rem;
  }

  .profile-recipes a {
    text-decoration: none;
  }
}



/* Meal Planner */

.accordion-body {
  display: flex;
  flex-direction: column;
}

.accordion-button {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  color: var(--red)
}

.meals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 > a {
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  color: var(--red)

}


h3 > a:hover {
  background-color: var(--white-yellow);
  color: var(--light-red);
  font-weight: bold;
  border-color: var(--red);
}

.thumb img {
  width: 100%;
}

.text-center {
  color : var(--red);
}


@media screen and (min-width:40em){
  .form {
      width: 50%;
  }

  .recipe-cont {
      flex-direction: row;
  }

  .img-container {
      flex-direction: row;
      width: 29%;
  }
}

@media screen and (min-width: 62.5em) {
  .main-title {
      width: 50%;
  }
  
  .recipe-info {
      flex-direction: row;
      border: 1px solid var(--grey);
  }

  .recipe-img {
      width: 40%;
      margin: 0 auto;
  }

  .recipe-detail {
      width: 60%;
      padding: 2rem;
  }

  .recipe-container {
      flex-direction: row;
  }

  .ingredients {
      width: 33.33%;
  }

  .instructions {
      width: 66.66%;
  }

  .profile {
      flex-direction: row;
  }

  .info {
      width: 30%;
  }

  .profile-recipes {
      width: 70%;
      padding: 1.5rem 3rem;
  }

  .profile-recipes a {
      text-decoration: none;
  }
}